/* webcomTree for page elements and drag & drop*/
.webcom-page-tree .dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 260px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
}

.webcom-page-tree .dd-locked {
  cursor: default;
}

.webcom-page-tree  .dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.webcom-page-tree  .dd-list .dd-list {
  padding-left: 30px;
}

.webcom-page-tree  .dd-collapsed .dd-list {
  display: none;
}

.webcom-page-tree .dd-item,.webcom-page-tree .dd-empty,.webcom-page-tree .dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  /* line-height: 18px; */
}

.webcom-page-tree .dd-handle {
  display: block;
  height: 35px;
  margin: 2px 10px 2px 21px;
  padding: 2px 0px 5px 5px;
  color: #87888a;
  text-decoration: none;
  background: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid transparent;
}

.webcom-page-tree .dd-handle:hover {
  color: #2aa8d0;
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dedcd9;
}

.webcom-page-tree .dd-item>button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0px transparent solid;
  outline: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  background-image: url('../images/ico-normal-arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
}

.webcom-page-tree .dd-item>button[data-action="collapse"] {
  background-image: url('../images/ico-expand-arrow.png');
}

.webcom-page-tree .dd-placeholder,.webcom-page-tree .dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: rgba(144, 230, 255, 0.3);
  border: 1px dashed #1aa8d0;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.webcom-page-tree .dd-empty {
  border: 1px dashed #2aa8d0;
  min-height: 100px;
  background-color: rgba(144, 230, 255, 0.3);
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.webcom-page-tree .dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.webcom-page-tree .dd-dragel>.dd-item .dd-handle {
  margin-top: 0;
}

.webcom-page-tree .dd-dragel .dd-handle {
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px #2aa8d0;*/
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dedcd9;
}

.webcom-page-tree .dd-hover>.dd-handle {
  background: #2aa8d0 !important;
}

.webcom-page-tree .item-label {
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 127px;
}

.webcom-page-tree ol ol .item-label {
  width: 97px;
}

.webcom-page-tree .page-icon {
  background-repeat: no-repeat;
  background-position: left top;
  width: 23px;
  height: 30px;
  float: right;
  padding: 0px;
  cursor: pointer;
  position: relative;
  top: 0px;
}

.webcom-page-tree .dd-handle:hover .delete-icon {
  background-image: url('../images/page-delete.png');
  background-size: 67%;
}

.webcom-page-tree .dd-handle:hover .duplicate-icon {
  background-image: url('../images/page-duplicate.png');
  background-size: 85%;
}

.webcom-page-tree .dd-handle:hover .settings-icon {
  background-image: url('../images/page-settings.png');
  background-size: 80%;
}

.webcom-page-tree .dd-handle .delete-icon:hover,.webcom-page-tree .dd-handle .duplicate-icon:hover,.webcom-page-tree .dd-handle .settings-icon:hover {
  opacity: 0.7;
}

.webcom-page-tree .pm-content,.webcom-page-tree .dd-item.selected .dd-item .pm-content {
  background-image: url('../images/page.png');
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding: 5px 0px 5px 23px;
  white-space: nowrap;
  min-height: 24px;
  color: #87888a;
}

.webcom-page-tree .dd-item.selected .pm-content {
  background-image: url('../images/page-selected.png');
  color: #000000;
}

.webcom-page-tree .pm-content.hidden-icon,
.webcom-page-tree .dd-item.selected .dd-item .pm-content.hidden-icon {
  background-image: url('../images/page-hidden.png');
}

.webcom-page-tree .dd-item.selected .pm-content.hidden-icon {
  background-image: url('../images/page-hidden-selected.png');
}

.webcom-page-tree .pm-content.excluded-icon,
.webcom-page-tree .dd-item.selected .dd-item .pm-content.excluded-icon {
  background-image: url('../images/page-excluded.png');
}

.webcom-page-tree .dd-item.selected .pm-content.excluded-icon {
  background-image: url('../images/page-excluded-selected.png');
}
